<nav>
  <a href = "/">TinyApp: A URL Shortener</a>
  <ul> 
    <li>
      <a href = "/">Home</a>
    </li>
    <li>
      <a href = "/urls">My URLS</a>
    </li>
    <li>
      <a href = "/about">About</a>
    </li>
  </ul>
</nav>