<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>
  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">Whoops! <%= shortURL %> isn't a valid TinyApp URL.</h5>
      <p class="card-text">Try a different one.</a></p>
      <p class="card-text">(Hint: make sure you type the full URL, including "http://", when creating a new URL. Otherwise you'll end up here again!)</a></p>

    </div>
  </div>
</body>

<%- include('../partials/footer') %>
</html>
